<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ActivityDoor</title>
  <link rel="stylesheet" href="landing_styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <!-- Header -->
  <header class="header">
    <div class="header-container">
      <div class="logo">
        <a href="/" class="logo-link">
          <img src="/ADoor.png" alt="Crop Studio" class="logo-image">
          <span class="logo-text">ActivityDoor</span>
        </a>
      </div>
      <nav class="nav">
        <a href="#" class="nav-link">GitHub</a>
        <a href="#" class="nav-link">Documentation</a>
        <a href="mailto:ehziyev@gmail.com" class="nav-link">Email</a>
        <a href="https://emin.works" class="nav-link">Contact</a>
        
      </nav>
      <button class="download-button">Sign in With GitHub</button>
    </div>
  </header>

  <!-- Main Content -->
  <main>
    <!-- Hero Section -->
    <section class="hero-section">
      <div class="interactive-grid" id="interactive-grid"></div>

      <div class="shine-border">
        <div class="hero-content">
          <h1 class="hero-title">
            Showcase your performance anywhere, anytime
          </h1>
          <p class="hero-description">
            Easily configure your Visual Studi Code to show you current code activity anywhere. For free.
          </p>
          <div class="hero-buttons">
            
            <a href="/auth/github"><button class="download-button-hero">Sign in With Github</button></a>
            <button class="demo-button">Documentation</button>
          </div>
        </div>

        <div class="hero-image-container">
          <div class="hero-image-wrapper">
            <img src="https://github.com/EminHaziyev/actdoor/blob/main/public/landing-01.jpg?raw=true" alt="Background Gradient" class="hero-background">
           
          </div>
        </div>
      </div>
    </section>

    <!-- Features Section -->
    <center>@Emin Haziyev All rights reserved</center>
    <br>
  </main>

  <script src="script.js"></script>
</body>
</html>
